[submodule "catkin_ws/src/realsense-ros"]
	path = catkin_ws/src/realsense-ros
	url = git@github.com:hrc-pme/realsense-ros.git
[submodule "detectron2"]
	path = detectron2
	url = git@github.com:hrc-pme/detectron2.git
