build/
devel/
result*
*.egg-info
*.pyc
.catkin_workspace
log
.vscode/
.ipynb_checkpoints/
*.pkl
bags/
__pycache__
events.*

csv/*

catkin_ws/logs/*
catkin_ws/.catkin_tools/

# ignore folder with dataset 
*dataset*/

#ignore the file contain *output* in training folder (weight, outputs)
Training/*output*